<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<meta name="generator" content="pdf2htmlEX"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" 
rel="stylesheet">


<link href="assets/css/style-checklist.css" rel="stylesheet">

<title>Checklist</title>
</head>
<body>
    <div id = "pdf">
        <div id="page-container">
            <div id="pf1" class="pf w0 h0" data-page-no="1">
                <div style="margin: auto; margin-top: 50px; width: 150px;" class="logo">
                    <img src="assets/img/logo.png" alt="" class="img-fluid">
                </div>
                <div style="margin: auto; margin-top: 5px;" class="header d-flex justify-content-center">
                    <h5><b>BuildINT CHECKLIST FOR iATM IoT SOLUTION</b></h5>
                </div>
                <div style="margin-left: 70px; font-size:0.70rem" class="site-data">
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>Date & Time -</p>
                        </div>
                        <div class="col-8">
                            <p id="atm-date" style="margin: 0;">Date</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>City Name -</p>
                        </div>
                        <div class="col-8">
                            <p id="city-name" style="margin: 0;">Name</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>ATM ID -</p>
                        </div>
                        <div class="col-8">
                            <p  id="atm-id" style="margin: 0;">ID</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>ATM Site Address -</p>
                        </div>
                        <div class="col-8">
                            <p id="atm-add" style="margin: 0;">Address</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>ATMO -</p>
                        </div>
                        <div class="col-8">
                            <p  id="atmo-name" style="margin: 0;">ATMO</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>ATMO Contact Number -</p>
                        </div>
                        <div class="col-8">
                            <p  id="atmo-number" style="margin: 0;">NUMBER</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>ATMO Email id -</p>
                        </div>
                        <div class="col-8">
                            <p  id="email-id" style="margin: 0;">Email</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>Site Person Name -</p>
                        </div>
                        <div class="col-8">
                            <p  id="atm-person-name" style="margin: 0;">Name</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                    <div style="margin: 0;" class="row">
                        <div class="col-4">
                            <p>Site Person Contact -</p>
                        </div>
                        <div class="col-8">
                            <p  id="atm-person-contact" style="margin: 0;">Contact</p><span><p style="margin-top: -10px;">----------------------------------------------------------</p></span>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 70px; font-size:0.65rem" class="site-table-1">
                    <p style="margin: 0;"><b>HVAC Details</b></p>
                    <table style="width: 85%;" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">AC Type</th>
                                <th scope="col">Make & Model</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Communication</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="ac1-type">SPLITS</td>
                                <td id="ac1-model">VOLTAS</td>
                                <td id="ac1-capacity">1</td>
                                <td id="ac1-comm">IR</td>
                                <td id="ac1-status">Working</td>
                            </tr>
                            <tr>
                                <td id="ac2-type">SPLIT</td>
                                <td id="ac2-model">VOLTAS</td>
                                <td id="ac2-capacity">1</td>
                                <td id="ac2-comm">IR</td>
                                <td id="ac2-status">Not-Working</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-left: 70px; font-size:0.65rem" class="site-table-2">
                    <table style="width: 85%;" class="table table-bordered">
                        <thead>
                            <tr>
                                <th  style="width: 12%;" scope="col">Sr. No.</th>
                                <th scope="col">Items</th>
                                <th scope="col">Description</th>
                                <th scope="col">Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th rowspan="7" scope="row">1</th>
                                <th rowspan="7" scope="row">UPS</th>
                                <td>Make/Model</td>
                                <td id="ups-model">NPS</td>
                            </tr>
                            <tr>
                                <td>Capacity/Output</td>
                                <td id="ups-capacity">1KVA</td>
                            </tr>
                            <tr>
                                <td>Total no. of Batteries</td>
                                <td id="ups-batteries">3</td>
                            </tr>
                            <tr>
                                <td>AVR(automatic voltage regulator)</td>
                                <td id="ups-avr">NO</td>
                            </tr>
                                <td>Isolation transformer</td>
                                <td id="ups-transformer">NO</td>
                            </tr>
                            <tr>
                                <td>Servo Stabilizer Details</td>
                                <td id="ups-servo">YES</td>
                            </tr>
                            <tr>
                                <td>Battery Voltage</td>
                                <td id="ups-vol">12V</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row">2</th>
                                <th rowspan="2" scope="row">Electrical System</th>
                                <td>Electrical SLD</td>
                                <td id="electric-sld">NA</td>
                            </tr>
                            <tr>
                                <td>Total Number of Panels</td>
                                <td id="electric-panels">1</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row">3</th>
                                <th rowspan="2" scope="row">Light</th>
                                <td>Type</td>
                                <td id="light-type">LED</td>
                            </tr>
                            <tr>
                                <td>No. of Lights</td>
                                <td id="light-no">3 ( 1 backroom, 2 lobby)</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row">4</th>
                                <th rowspan="2" scope="row">Signage </th>
                                <td>Signage Status</td>
                                <td id="signage-status">Working</td>
                            </tr>
                            <tr>
                                <td>Timing</td>
                                <td id="signage-timing">6PM to 6AM</td>
                            </tr>
                            <tr>
                                <th rowspan="3" scope="row">5</th>
                                <th rowspan="3" scope="row">DVR</th>
                                <td>Make/Model/Year</td>
                                <td id="dvr-model">CP Plus</td>
                            </tr>
                            <tr>
                                <td>No. of Camera</td>
                                <td id="dvr-camera">2</td>
                            </tr>
                            <tr>
                                <td>HDD Capicity</td>
                                <td id="dvr-hdd">NA</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <th scope="row">ATM Door</th>
                                <td>Door Status</td>
                                <td id="atm-door">Working</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <th scope="row">Door Stopper</th>
                                <td>Yes/No</td>
                                <td id="door-stopper">Yes</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <th scope="row">ATM</th>
                                <td>ATM Count</td>
                                <td id="atm-count">1</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <th scope="row">Site Images</th>
                                <td>Yes/No</td>
                                <td id="site-image">Yes</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row">10</th>
                                <th rowspan="2" scope="row">EB</th>
                                <td>Meter reading and EB</td>
                                <td id="eb-reading">NA</td>
                            </tr>
                            <tr>
                                <td>Meter Type- Digital/Analog</td>
                                <td id="eb-type">Digital</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row">11</th>
                                <th rowspan="2" scope="row">Timer</th>
                                <td>Signage- Digital/Analog</td>
                                <td id="signage-timer">Digital</td>
                            </tr>
                            <tr>
                                <td>AC Timer- Digital/Analog</td>
                                <td id="ac-timer">Analog</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-left: 70px; font-size:0.65rem" class="site-table-1">
                    <p style="margin: 0;"><b>Note:</b></p>
                    <table style="width: 85%;" class="table table-bordered">
                        <tbody>
                            <tr>
                                <td style="height: 60px;" id="atm-note"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
                <div style="margin-left: 70px; font-size:0.65rem; margin-bottom: 20px;" class="site-table-1">
                    <p style="margin: 0;"><b>Sign:</b></p>
                    <div style="max-width: 150px; max-height: 83px;" id="sign-image">
                    <!-- sign image inner image here -->
                    </div>
                </div>
                
            </div>

            <!-- <div>
                <div id="pf" class="pf w0 h100">
                    <div style="margin-left: 70px; font-size:0.65rem; margin-bottom: 20px;" class="site-table-1">
                        <p style="margin: 0;"><b>Site Images:</b></p>
                        <div class="container">
                            <div id="site-image-list" class="row">
                                 
                            </div>
                        </div>
                        <button style="margin-left: 40%;" onclick="createPDF()" class="btn btn-primary btn-createpdf">Download PDF</button>
                    </div>
                </div>
            </div> -->
    
            <div id="img-container">
            
            </div>
            <button style="margin-left: 40%;" onclick="createPDF()" class="btn btn-primary btn-createpdf">Download PDF</button>
        </div> 
    </div>
    

  
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.21.0/firebase.js"></script>
  <!-- <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script> -->
  
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/atm_checklist.js"></script>
<!-- <script src="assets/js/checklist.js"></script> -->

</body>
</html>

