<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="assets/css/testing.css"></script>
  <title>Testing Report</title>
</head>
<body>
    <div class="section">
    <div class="container-fluid">
      <div class="row border">

        <div class="col-md-6 col-lg-6 col-sm-6 border">
          <div class="group">
            <label for="mb_sn">Motherboard S/N</label>
            <input id="mb_sn" type="text">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 border">
          <div class="group">
            <label for="wifi_name">WIFI Switch Name</label>
            <input id="wifi_name" type="text">
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 border">
          <div class="group">
            <label for="wifi_name">WIFI Switch Name</label>
            <input id="wifi_name" type="text">
          </div>
        </div>
        
        <div class="col-md-6 col-lg-6 col-sm-6 border">
          <div class="group">
            <label for="macid">MAC ID</label>
            <input id="macid" type="text">
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 border">
          <div class="group">
            <label for="date">Date </label>
            <input id="date" type="text">
          </div>

        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 border">
          <div class="group">
            <label for="devid">Device ID</label>
            <input id="devid" type="text">
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 border text-center">
          <label for="hw"><b>Hardware Testing</b></label>
            <div class="row">

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="rpln">Raw Power LN</label>
                <input id="rpln" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="upslnh">UPS Power LN</label>
                <input id="upslnh" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="rple">Raw Power LE</label>
                <input id="rple" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="upsleh">UPS Power LE</label>
                <input id="upsleh" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="temph">Temperature</label>
                <input id="temph" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="humdityh">Humidity</label>
                <input id="humidityh" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="doorh">Door (D)</label>
                <input id="doorh" type="text">
              </div>
              
              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="bvh">Battery Voltage</label>
                <input id="bvh" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="wifih">WIFI (W)</label>
                <input id="wifih" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="starh">Star (*)</label>
                <input id="starh" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="beeph">Beep Sound</label>
                <input id="beeph" type="text">
              </div>
              
              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="presenceh">Presence (P)</label>
                <input id="presenceh" type="text">
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-sm-6 border text-center">
            <label for="datatesting"><b>Data Testing</b></label>
            <div class="row">

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="rplnd">Raw Power LN</label>
                <input id="rplnd" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="upslnd">UPS Power LN</label>
                <input id="upslnd" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="rpled">Raw Power LE</label>
                <input id="rpled" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="upsled">UPS Power LE</label>
                <input id="upsled" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="tempd">Temperature</label>
                <input id="tempd" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="humidityd">Humidity</label>
                <input id="humidityd" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="doord">Door (D)</label>
                <input id="doord" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="bvd">Battery Voltage</label>
                <input id="bvd" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="wifid">WIFI (W)</label>
                <input id="wifid" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="stard">Star (*)</label>
                <input id="stard" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="presenced">Presence (P)</label>
                <input id="presenced" type="text">
              </div>

              <div class="col-md-6 col-lg-6 col-sm-6 border">
                <label for="blank"></label>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-sm-6 border text-center">
            <div class="row">
              <div class="col-3">
                <label><b>Parameter</b></label>
              </div>
              <div class="col-3">
                <label>Current</label>
              </div>
              <div class="col-3">
                <label>KWH</label>
              </div>
              <div class="col-3">
                <label>Storing</label>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>AC1</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac1currenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac1currenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="ac1storeh" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>AC2</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac2currenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac2currenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="ac2storeh" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>Lobby</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="lobbycurrh" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="lobbykwhh" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="lobbystoreh" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>Signage</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="signagecurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="signagecurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="signagestoreh" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>DVR</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="dvrcurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="dvrcurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="dvrstoreh" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>UPS input</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="upscurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="upscurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="upsstoreh" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>ATM</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="atmcurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="atmcurrenth" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="atmstoreh" type="checkbox">
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-sm-6 border text-center">
            <div class="row">
              <div class="col-3">
                <label>Parameter</label>
              </div>
              <div class="col-3">
                <label>Current</label>
              </div>
              <div class="col-3">
                <label>KWH</label>
              </div>
              <div class="col-3">
                <label>Storing</label>
              </div>
            </div>

            <div class="row">

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>AC1</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac1currentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac1currentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="ac1stored" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>AC2</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac2currentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="ac2currentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="ac2stored" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>Lobby</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="lobbycurrd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="lobbykwhd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="lobbystored" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>Signage</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="signagecurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="signagecurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="signagestored" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>DVR</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="dvrcurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="dvrcurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="dvrstored" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>UPS input</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="upscurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="upscurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="upsstored" type="checkbox">
              </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <label>ATM</label>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="atmcurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input id="atmcurrentd" type="text">
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <input class="form-check-input" id="atmstored" type="checkbox">
            </div>
          </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 border text-center">
        <b>Relay Testing</b>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="ac1relayh">AC1</label>
            <input id="ac1relayh" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="ac2relayh">AC2</label>
            <input id="ac2relayh" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="lobbyrelayh">Lobby</label>
            <input id="lobbyrelayh" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="vsatrelayh">Vsat</label>
            <input id="vsatrelayh" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="atmrelayh">ATM</label>
            <input id="atmrelayh" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="sparerelayh">Spare</label>
            <input id="sparerelayh" type="checkbox">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 border text-center">
        <b>Relay Testing</b>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="ac1relayd">AC1</label>
            <input id="ac1relayd" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="ac2relayd">AC2</label>
            <input id="ac2relayd" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="lobbyrelayd">Lobby</label>
            <input id="lobbyrelayd" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="vsatrelayd">Vsat</label>
            <input id="vsatrelayd" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="atmrelayd">ATM</label>
            <input id="atmrelayd" type="checkbox">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="sparerelayd">Spare</label>
            <input id="sparerelayd" type="checkbox">
          </div>
        </div> 
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 border">
        <div class="row">
          <div class="col-12">
            <label for="noteh">Note</label>
            <input id="noteh" type="text">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="testedbyh">Tested by</label>
            <input type="text" id="testbyh">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="signh">Sign</label>
            <input type="text" id="signh">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 border">
        <div class="row">
          <div class="col-12">
            <label for="noted">Note</label>
            <input id="noted" type="text">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="testedbyd">Tested by</label>
            <input type="text" id="testbyd">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 border">
            <label for="signd">Sign</label>
            <input type="text" id="signd">
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
  
</body>
</html>